<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340421165912-126co9ir55voje4500c26p9g7p94tan3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340421165912-126co9ir55voje4500c26p9g7p94tan3</string>
	<key>API_KEY</key>
	<string>AIzaSyCGcNijCxm6Z_KsbK_uNHTZPJ2v198dRi4</string>
	<key>GCM_SENDER_ID</key>
	<string>340421165912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clued.tv</string>
	<key>PROJECT_ID</key>
	<string>cluedtv-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>cluedtv-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340421165912:ios:dea44533e9ba2fb4a05b2d</string>
	<key>DATABASE_URL</key>
	<string>https://cluedtv-prod.firebaseio.com</string>
</dict>
</plist>