@import '../../theme/mixins.scss';

ion-content {
  @include bg-img('../../assets/backgrounds/bg-home.png');

  ion-grid {
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  ion-text,
  img {
    text-align: center;
  }

  h4 {
    margin: 0 0 40px 0;
    font-size: 1em;
    letter-spacing: 1px;
  }

  ion-input {
    --background: transparent;
    --color: var(--ion-color-light);
    border-bottom: 1px solid var(--ion-color-light);
  }

  ion-button {
    margin-top: 20px;
    min-width: 47%;
  }

  a {
    color: var(--ion-color-light);
    margin: 40px;
    font-size: 0.9em;
  }
}

.welcome-logo {
  height: 15vh;
  width: auto;
  margin-bottom: 55px;
}
