<ion-content
  class="popover-class"
  color="tertiary"
  *ngIf="auth.user$ | async as user"
>
  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col size="4">
        <ion-avatar class="profile-initials">
          <span>{{ user.initials || 'TV' }}</span>
        </ion-avatar>
      </ion-col>
      <ion-col size="8">
        <h4 class="ion-no-padding" color="dark">Welcome</h4>
        <h1>{{ user.displayName }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="profile-menu-list" lines="full">
          <ion-item detail type="button" (click)="navTo('profile-edit')">
            <ion-icon name="person" slot="start"></ion-icon>
            Edit Profile
          </ion-item>
          <!-- <ion-item detail type="button" (click)="navTo('manage-devices')">
            <ion-icon name="phone-portrait" slot="start"></ion-icon>
            Manage Devices
          </ion-item> -->
          <ion-item detail type="button" (click)="navTo('profile-plan')">
            <ion-icon name="card" slot="start"></ion-icon>
            Manage Subscription
          </ion-item>
          <ion-item lines="none" (click)="auth.signOut()" detail>
            <ion-icon name="log-out" slot="start"></ion-icon>
            Logout
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
